<h1>My Shelves</h1>
<br>
<h3>Desired Books:</h3>
    <% @user.desired_shelf.each do |book| %>
        <div class="list">
            <table border="0">
                <td>
                    <p class="book">
                        <%= link_to(image_tag(book.image_link, class: "img-border"), book) %>
                    </p>
                </td>
                <td>
                    <%= link_to book.title, book %>
                    <%= button_to "Delete", shelves_book_path(@user.find_shelf_book(book)), method: :delete %>
                </td>
        </div>
    <% end %>

<h3>My Private Books:</h3>
    <% @user.private_shelf.each do |book| %>
        <div class="list">
            <table border="0">
                <td>
                    <p class="book">
                        <%= link_to(image_tag(book.image_link, class: "img-border"), book) %>
                    </p>
                </td>
                <td>
                    <%= link_to book.title, book %>
                    <%= button_to "Delete", shelves_book_path(@user.find_shelf_book(book)), method: :delete %></<%=>
                </td>
        </div>
    <% end %>

<h3>Swap Shelf: </h3>
<% @user.public_shelf.each do |book| %>
    <div class="list">
            <table border="0">
                <td>
                    <p class="book">
                        <%= link_to(image_tag(book.image_link, class: "img-border"), book) %>
                    </p>
                </td>
                <td>
                    <%= link_to book.title, book %>
                    <%= button_to "Delete", shelves_book_path(@user.find_shelf_book(book)), method: :delete %>
                </td>
        </div>
<% end %>