<% if @is_current_user %>
    <h1>My Profile!</h1>
<% else %>
    <h1><%= @user.name %></h1>
<% end %>
<p>Email: <%= @user.email %></p>
<br>
<h3>Desired Books:</h3>
<ul>
    <% @user.desired_shelf.each do |book| %>
        <li><%= link_to book.title, book %></li>
    <% end %>
</ul>

<% if @is_current_user %>
    <h3>My Private Books:</h3>
    <ul>
        <% @user.private_shelf.each do |book| %>
            <li><%= link_to book.title, book %></li>
        <% end %>
    </ul>
<% end %>

<h3>Swap Shelf:</h3>
<ul>
<% @user.public_shelf.each do |book| %>
    <li><%= link_to book.title, book %> </li>
    <% if @is_current_user %>
    <ul>
        <li>Wanna steal their book?</li>
        <li>
        <%= form_tag shelves_books_path do %>
            <%= hidden_field :shelf_book, :book_id, value: @book.id %>
            <%= hidden_field :shelf_book, :shelf_type, value: 2 %>
            <%= submit_tag "STEAL IT" %>
        <% end %> 
        </li>
    </ul>
    <% end %>
<% end %>
</ul>