<% if @is_current_user %>
    <h1>My Profile!</h1>
    <p><%= button_to "Edit My Shelf", [@user, @user.shelf], method: :get %></p>
    <p><%= button_to "Edit My Information", edit_user_path(@user), method: :get %></p>
<% else %>
    <h1><%= @user.name %></h1>
<% end %>
<p>Email: <%= @user.email %></p>
<br>
<h3>Desired Books:</h3>
<div class="list">
    <% @user.desired_shelf.each do |book| %>
        <%= link_to book.title, book %>
    <% end %>
</div>

<% if @is_current_user %>
    <h3>My Private Books:</h3>
    <div class="list">
        <% @user.private_shelf.each do |book| %>
            <%= link_to book.title, book %>
        <% end %>
    </div>
<% end %>

<h3>Swap Shelf: </h3>
<div class="list">
<% @user.public_shelf.each do |book| %>
    <%= link_to book.title, book %>
    <% if session[:user_id] and !@is_current_user %>
        Wanna steal their book and give one of yours?
        <%= form_tag shelves_books_swap_path do %>
            <label>Book to give: </label>
            <%= collection_select :shelf_book, :value, User.find(session[:user_id]).public_shelf_books, :id, :book_title %>
            <%= hidden_field :shelf_book2, value: book.find_shelf_book(@user).id %>
            <%= submit_tag "SWAP THEM" %>
        <% end %> 
    <% end %>
<% end %>
</div>

<% if @is_current_user %>
    <p><%= button_to "Delete My Profile", @user, method: :delete %></p>
<% end %>
