<h1>Log in</h1>
<%= form_tag "/login/authenticate" do |f| %>
<label>Username: </label>
<%= text_field_tag :'username' %>
<br>
<label>Password </label>
<%= password_field_tag :'password' %>
<br>
<%= submit_tag "Log in" %>
<% end %>

<h3>Don't have a profile?</h3>
<p><%= button_to "Create One", new_user_path, method: :get %></p>