<div class="main">
    <div class="title">
        <h1>All Books to Swap</h1>
        <h3>Avaliable Books to Borrow</h3>
    </div>

    <% @books.each do |book| %>
        <div class="list">
            <div>
            <p class="book">
                <%= link_to book.title, book %> 
                by <%= book.author %>
                has <%= pluralize book.potential_swappers.length, 'Swapper' %> 
                <%= link_to(image_tag(book.image_link, class: "img-border"), book) %>
            </p>
            <p class="book">
            <i>Description:</i> <%= book.display_description %>
            </p>
            </div>
        </div>
    <% end %>

    <div class="section">
    <h3>Don't see one you want?</h3>
    <%= link_to "Add to the swapping collection", new_book_path %>
    </div>
</div>