<div class="main">
    <div class="title">
        <h1>All Books to Swap</h1>
        <h3>Avaliable Books to Borrow</h3>
    </div>

    <% @books.each do |book| %>
        <div class="list">
            <div>
            <table border="0">
                <td>
                    <% if  book.image_link %>
                        <%= link_to(image_tag(book.image_link, class: "img-border"), book) %>
                    <% end %>
                </td>
                <td>
                    <p class="book">
                        <%= link_to book.title, book %> 
                        by <%= book.author %>
                        has <%= pluralize book.potential_swappers.length, 'Swapper' %> 
                        <i>Description:</i> <%= book.display_description %>
                    </p>
                </td>
                </table>
            </div>
        </div>
    <% end %>

    <div class="section">
    <h3>Don't see one you want?</h3>
    <%= link_to "Add to the swapping collection", new_book_path %>
    </div>
</div>