<h1>All Books</h1>
<h3>Search By Book:</h3>
<%= form_tag  books_path, method: :get do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>
<ul>
<h3>Avaliable Books to Borrow</h3>
<% @books.each do |book| %>
    <li><%= link_to book.title, book %>, has <%= pluralize book.potential_swappers.length, 'Swapper' %></li>
<% end %>
</ul>
