<h1>Search for a book using Google Books</h1>
<%= form_tag  new_book_path, method: :get do %>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search" %>
<% end %>

<% if @books and @books != [] %>
<ul>
<% @books.each do |book| %>
    <% if  book.image_link %>
        <li><%= link_to(image_tag(book.image_link), new_book_path, method: :post, ) %></li>
    <% end %>
    <uL>
        <li>Title: <%= book.title %></li>
        <li>Author: <%= book.authors %></li>
        <li><%= form_for @book do |f| %>
        <%= f.hidden_field :title, value: book.title %>
        <%= f.hidden_field :author, value: book.authors %>
        <%= f.hidden_field :description, value: book.description %>
        <%= f.hidden_field :image_link, value: book.image_link %>
        <%= f.submit "More Info" %>
        <% end %></li>
    </uL>
<% end %>
</ul>
<% end %>