<h1><%= @book.title %></h1>
<p>Author: <%= @book.author %></p>
<img style="max-height: 1000px; max-width: 1000px;" src="<%= @book.image_link %>" alt="<%= @book.title %>" ><br>
<p>Description: <%= @book.description %></p>
<br>

 <% if session[:user_id] %>
     <h3>Wanna add this to a shelf?</h3>
     <%= form_tag shelves_books_path do %>
        <%= hidden_field :shelf_book, :book_id, value: @book.id %>
        <%= hidden_field :shelf_book, :shelf_type, value: 2 %>
        <%= submit_tag "Add to Public" %>
     <% end %>
     <%= form_tag shelves_books_path do %>
        <%= hidden_field :shelf_book, :book_id, value: @book.id %>
        <%= hidden_field :shelf_book, :shelf_type, value: 1 %>
        <%= submit_tag "Add to Private" %>
     <% end %>
     <h3>Do you want to swap for this book?</h3>
     <%= form_tag shelves_books_path do %>
        <%= hidden_field :shelf_book, :book_id, value: @book.id %>
        <%= hidden_field :shelf_book, :shelf_type, value: 0 %>
        <%= submit_tag "Add to Desired" %>
     <% end %>
 <% else %>
     <h3>Sign in to add this to your shelf!</h3>
 <% end %>

<h3>Others Who Can Swap This:</h3>

<% if @book.potential_swappers.empty? %>
    <p>Looks like no one can swap this</p>
<% else %>
    <div class="list">
    <% @book.potential_swappers.uniq.each do |swapper| %>
        <%= link_to swapper.name, swapper %>
    <% end %>
    </div>
<% end %>