<h1><%= @book.title %></h1>
<p>Author: <%= @book.author %></p>
<img style="max-height: 1000px; max-width: 1000px;" src="<%= @book.image_link %>" alt="<%= @book.title %>" ><br>
<p>Description: <%= @book.description %></p>
<br>

 <% if session[:user_id] %>
     <h3>Wanna add this to a shelf?</h3>
     <%= button_to "Private Shelf", "/shelves/#{session[:shelf_id]}/private" %>
     <%= button_to "Public Shelf", "/shelves/#{session[:shelf_id]}/public" %>
     <h3>Do you want to swap for this book?</h3>
     <%= button_to "Put it in your desired books", "/shelves/#{session[:shelf_id]}/desired" %>
 <% else %>
     <h3>Sign in to add this to your shelf!</h3>
 <% end %>

<h3>Others Who Can Swap This:</h3>

<% if @book.potential_swappers.empty? %>
    <p>Looks like no one is can swap this</p>
<% else %>
    <ul>
    <% @book.potential_swappers.each do |swapper| %>
        <li><%= link_to swapper.name, swapper %></li>
    <% end %>
    </ul>
<% end %>