<!DOCTYPE html>
<html>
  <head>
    <title>FlatironBookSwap</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if session[:user_id] %>
  <p>Logged in as: <%= User.find(session[:user_id]).name %> <%= button_to "Log out", logout_path %></p>

  <% else %>
  <p><%= button_to "Log in", login_path, method: :get %></p>
  <% end %>
    <%= yield %>
  </body>
</html>
